@model Assignment8.Controllers.AlbumWithDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlbumWithDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coordinator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlAlbum)
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.UrlAlbum)"><img src="@Html.DisplayFor(model => model.UrlAlbum)" alt="photos not available" height="42" width="42" /></a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artists)
        </dt>
        <dd>
            @Model.Artists.Count()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tracks)
        </dt>
        <dd>
            @Model.Tracks.Count()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
